* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album {
    height: 250px;
    width: auto;
    border: solid 4px #3d3240;
    border-radius: 10px;
}

.header {
    display: flex;
    height: 50px;
    background-color: #735d78;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.footer {
    display: flex;
    height: 50px;
    background-color: #735d78;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
    border-top: solid 5px #3d3240;
}

.top-section {
    display: flex;
    padding: 50px 250px;
    height: 600px;
    background-color: #735d78;
    align-items: center;
    gap: 30px;
    border-bottom: solid 5px #3d3240;
}

.top-pic {
    width: 800px;
    height: auto;
    border-radius: 20px;
    border: solid 5px #3d3240;
}

.links-container {
    display: flex;
    gap: 20px;
}

.top-left {
    display: flex;
    flex-direction: column;
}

.top-left h1 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 50px;
}

.top-left p {
    color: #F8F8F5;
    margin-bottom: 15px;
    font-size: 18px;
}

.top-left button {
    font-size: 16px;
    width: 120px;
    padding: 5px;
    background-color: #d1b3c4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

h2 {
    background-color: #F8F8F5;
    padding-top: 40px;
    color: #3d3240;
    text-align: center;
    font-size: 50px;
}

.middle-one {
    display: flex;
    background-color: #F8F8F5;
    padding: 50px 250px;
    justify-content: center;
    gap: 50px;
}

.middle-two {
    display: flex;
    background-color: #f7d1cd;
    padding: 50px 250px;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card p {
    color: #3d3240;
    text-align: center;
}

.card strong {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header p {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}