* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.album {
    height: 200px;
    width: auto;
}

.header {
    display: flex;
    height: 50px;
    background-color: #735d78;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.top-section {
    display: flex;
    padding: 50px 250px;
    height: 600px;
    background-color: #735d78;
    align-items: center;
    gap: 30px;
}

.top-pic {
    width: 800px;
    height: auto;
    border-radius: 20px;
    border: solid 5px #b392ac;
}

.links-container {
    display: flex;
    gap: 20px;
}

.top-left {
    display: flex;
    flex-direction: column;
}

.top-left h1 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 50px;
}

.top-left p {
    color: #f4f3ee;
    margin-bottom: 15px;
    font-size: 18px;
}

.top-left button {
    font-size: 16px;
    width: 120px;
    padding: 5px;
    background-color: #d1b3c4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header p {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}